doctype html
html(ng-app='app')
  head(lang='en')
    meta(charset='UTF-8')
    title Angular with Webpack
  body
    include ./template/menu
    div.container
      h1 Angular + Webpack
      hello-world
      script(src='bundle.js')